.ContextualMenu {
  position: fixed;
  background: white;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.08);
  font-size: 15px;
  cursor: default;

  @mixin item {
    padding: 12px 10px;
    display: flex;
    align-items: center;
    min-width: 140px;
  }

  .title {
    @include item();
    justify-content: center;
    font-weight: 500;
    border-bottom: 1px solid #ddd;
  }

  .item {
    @include item();

    svg {
      margin-right: 8px;
      margin-bottom: 2px;
    }
  }

  .item:hover {
    background: #ecf0f1;
  }
}
