@import 'reset.scss';
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

* {
  box-sizing: border-box;
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
}

.invisible {
  display: none;
}

.edit-box {
  box-sizing: border-box;
  outline: none;
  border: none;
}
