.Title {
  padding: 10px;
  padding-top: 20px;

  .title {
    display: flex;
    align-items: center;
    font-size: 20px;

    .text {
      font-weight: 400;
    }

    .icon {
      color: gray;
      margin-left: 5px;
    }
  }

  .date {
    margin-top: 4px;
    font-size: 14px;
    color: grey;
  }
}
