@import '../../styles/variables.scss';

.Title {
  padding: 10px;
  padding-top: 20px;

  .title {
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 30px;

    .search {
      font-weight: 400;
      color: #2980b9;
    }

    .text {
      font-weight: 400;
      margin-right: 4px;
    }

    .icon-list {
      margin-left: 6px;
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;

        color: gray;
        font-size: 22px;
        margin-right: 6px;
      }
    }
  }

  .date {
    margin-top: 4px;
    font-size: 14px;
    color: grey;
    display: flex;
    align-items: center;
  }

  .nav {
    margin-left: 2px;
    display: flex;
    align-items: center;

    .icon {
      margin-bottom: -2px;
    }

    .icon:hover {
      color: $hover-color;
    }
  }
}
