@import '../../styles/variables.scss';

.Title {
  padding: $main-padding;
  padding-top: 20px;

  .title {
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 30px;

    .search {
      font-weight: 400;
      color: #2980b9;
    }

    .text {
      font-weight: 400;
      margin-right: 4px;
    }

    .icon-list {
      margin-left: 6px;
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;

        color: gray;
        font-size: 22px;
        margin-right: 6px;
      }
    }
  }

  .date {
    margin-top: 4px;
    font-size: 14px;
    color: grey;
    display: flex;
    align-items: center;
    position: relative;

    .nav {
      display: flex;
      align-items: center;
      position: absolute;
      left: 155px;

      .icon {
        margin-bottom: -2px;
      }

      .icon:hover {
        color: $hover-color;
      }
    }
  }
}
