@import '../../../styles/variables.scss';

.TodoAdd {
  .add-form {
    display: flex;
    flex-direction: column;

    .todo-input {
      width: calc(100% - #{$todo-right-column-size});
      display: flex;
      border: $todo-list-border;
      border-radius: 3px;
      height: 42px;

      .text,
      .time {
        padding: 5px;
        font-size: $todo-text-size;
      }

      .text {
        flex: 1;
        border-right: $todo-list-border;
      }

      .time {
        text-align: center;
        width: $todo-right-column-size;
      }

      .time::placeholder {
        font-size: 14px;
      }

      .time::placeholder:focus {
        color: transparent;
      }
    }

    .form-action {
      margin-top: 4px;
      display: flex;
      align-items: center;

      .submit {
        font-size: 14px;
        width: 84px;
        height: 34px;
      }

      .close-icon {
        margin-left: 5px;
        font-size: 22px;
        color: #7f8c8d;
      }

      .close:hover {
        color: black;
      }
    }
  }

  .add-button {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    color: #7f8c8d;
    width: 90%;
    height: 30px;
    cursor: pointer;

    .add-icon {
      color: #3498db;
      font-size: 14px;
      // margin-bottom: -1px;
      margin-right: 3px;
    }
  }

  .add-button:hover {
    color: #3498db;
  }
}
