@import '../../styles/variables.scss';

.Header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: $header-height;
  background: royalblue;

  display: flex;
  align-items: center;

  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    margin-right: 12px;
    width: 30px;
    height: 30px;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }

  .menu:hover {
    background-color: rgb(49, 77, 161);
  }

  .search {
    width: 230px;
    height: 28px;
    padding-left: 36px;
    font-size: 14px;
    border-radius: 1px;
  }

  .icon {
    font-size: 18px;
    color: #2980b9;
    position: absolute;
    margin-left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}
