@import '../styles/variables.scss';

.App {
  display: flex;
  height: 100vh;

  .main {
    margin-top: $header-height;
    display: flex;
    flex: 1;

    .section {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }
}
