.TodoListItem {
  $border-radius: 3px;
  $list-height: 70px;

  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
  height: $list-height;
  margin-bottom: 6px;
  border: 1px solid #c2c2c2;
  border-radius: $border-radius;

  display: flex;
  align-items: center;

  // edit box
  .edit-box {
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: $border-radius;
  }

  .edit-box:focus {
    background-color: #f0f0f0;
  }

  .content {
    .finish {
      color: #7f8c8d;
      text-decoration: line-through;
    }
  }

  // column common style
  .column {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 7px;
  }

  .content {
    min-width: 300px;
    flex: 1;

    .text {
      font-size: 20px;
      width: 100%;
    }
  }

  .time,
  .action {
    width: 90px;
    align-items: center;
  }

  .time {
    .desc {
      font-size: 14px;
    }

    .target {
      font-size: 40px;
      height: 40px;
      text-align: center;
      width: 80px;
    }

    .time-text {
      font-size: 40px;
    }
  }

  .action {
    justify-content: center;

    @mixin button($background) {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 64px;
      height: 38px;
      background: $background;
    }

    .start {
      @include button(#3498db);
    }

    .finish {
      @include button(#e74c3c);
    }
  }
}
