.TodoListItem {
  $border-radius: 3px;
  $list-height: 56px;

  @mixin edit-box {
    background-color: #f0f0f0;
    box-sizing: border-box;
    outline: none;
    border: 1px solid black;
    border-radius: $border-radius;
  }

  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
  height: $list-height;
  margin: 6px;
  border: 1px solid #c2c2c2;
  border-radius: $border-radius;

  display: flex;
  align-items: center;

  .content {
    $font-size: 20px;
    $margin-sides: 7px;
    $margin-top-bottom: 4px;

    min-width: 300px;
    padding: 7px;
    flex: 1;

    .text {
      font-size: $font-size;
      padding: $margin-top-bottom $margin-sides;
      cursor: pointer;
    }

    .text_edit {
      @include edit-box();
      width: 100%;
      font-size: $font-size;
      padding: $margin-top-bottom ($margin-sides - 1px);
      margin-bottom: 1px;
    }
  }

  .time,
  .action {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    height: $list-height;
  }

  .time {
    $time-font-size: 26px;
    $time-height: 32px;

    justify-content: center;

    .desc {
      font-size: 12px;
      margin-bottom: 2px;
    }

    .target {
      font-size: $time-font-size;
      line-height: $time-height;
      cursor: pointer;
    }

    .target_edit {
      @include edit-box();
      font-size: $time-font-size;
      text-align: center;
      width: 60px;
      height: $time-height;
    }
  }

  .action {
    justify-content: center;

    .start {
      display: flex;
      align-items: center;
      justify-content: center;

      outline: none;
      border: none;
      border-radius: 3px;
      width: 64px;
      height: 38px;
      background: #3498db;
      color: white;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
    }
  }
}
