.Timeline {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 4px;
  font-size: 12px;

  .title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
  }

  .graph {
    overflow: hidden;
    // padding-left: 5px;
    padding-right: 5px;

    .item {
      cursor: default;
      position: relative;
      background: #2c3e50;
      height: 12px;
      left: 50%;

      display: flex;
      justify-content: center;

      .item-text {
        font-size: 12px;
        font-weight: 500;
        color: white;
        overflow: hidden;
      }
    }

    .done {
      background: #27ae60;
    }

    .line {
      width: 100%;
      height: 1px;
      background: #16a085;
    }

    .timebox {
      display: flex;
      justify-content: space-between;
    }
  }
}
