@import '../../../styles/variables.scss';

.TodoListItem {
  $border-radius: 3px;
  $list-height: 56px;

  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
  height: $list-height;
  margin-bottom: 5px;
  border: $todo-list-border;
  border-radius: $border-radius;
  background: white;

  display: flex;
  align-items: center;

  .edit-box {
    border-radius: $border-radius;
  }

  .edit-box:focus {
    background-color: #f0f0f0;
  }

  .content {
    .finish {
      color: #7f8c8d;
      text-decoration: line-through;
    }
  }

  // column common style
  .column {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
  }

  .content {
    // min-width: 300px;
    flex: 1;

    .text {
      font-size: $todo-text-size;
      width: 100%;
    }
  }

  .time,
  .action {
    width: $todo-right-column-size;
    align-items: center;
  }

  .time {
    .desc {
      font-size: 12px;
    }

    $time-font-size: 30px;

    .target {
      font-size: $time-font-size;
      height: $time-font-size;
      text-align: center;
      width: 80px;
    }

    .time-text {
      font-size: $time-font-size;
    }
  }

  .action {
    justify-content: center;

    @mixin button($background) {
      width: 56px;
      height: 32px;
      background: $background;
    }

    .start {
      @include button(#3498db);
    }

    .finish {
      @include button(#e74c3c);
    }
  }
}
