.Sidebar {
  padding-top: 20px;
  background: #ecf0f1;
  width: 0px;

  transition: width 0.25s;
  overflow: hidden;

  &.visible {
    width: 170px;
  }

  &.overlaid {
    position: fixed;
    height: 100vh;
    width: 170px;
  }
}
