.Sidebar {
  padding-top: 20px;
  background: #ecf0f1;
  width: 0px;
  z-index: 200;
  overflow: hidden;

  transition: width 0.25s;

  &.visible {
    width: 170px;
  }

  &.overlaid {
    transition: width 0.25s;
    position: fixed;
    height: 100vh;
    width: 170px;
  }
}

@media (max-width: 768px) {
  .Sidebar {
    transition: width 0s;

    &.hide {
      transition: width 0.25s;
      width: 0px;
    }
  }
}
