.StatsCalendar {
  .day-list {
    display: flex;
  }

  .day,
  .month {
    font-size: 10px;
    white-space: nowrap;
    width: 10px;
    height: 10px;
    margin: 2px;
  }

  .month {
    margin-bottom: 6px;
  }
}
