.SidebarItem {
  width: 100%;
  height: 38px;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;

  display: flex;
  align-items: center;

  svg {
    margin-left: 12px;
    margin-right: 12px;
  }

  &.active {
    background: #bdc3c7;
  }
}

.SidebarItem:hover {
  background-color: #bdc3c7;
}
